avatar-chat {
    width: 64px;
    height: 64px;
    line-height: 64px;    
    right: 20px;
    bottom: 75px;
    position: fixed;    
}
.circle-avatar-chat{
    border-radius: 50%;
}
layout-chat{
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
}
header-chat{
    height: auto;
    background-color: #0066a0;
    flex: 0 0 auto;
    line-height: 48px;
}
content-chat{
    overflow-y: auto;
    background-color: ghostwhite;
    flex: auto;
    min-height: 0;    
}
footer-chat{
    background-color: white;
    flex: 0 0 auto;
}
row-chat{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}
.row-middle{
    align-items: center;
}
.row-center{
    justify-content: center;
}

.col-xs-3{
    display: block;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.col-xs-19 {
    display: block;
    flex: 0 0 79.16666667%;
    max-width: 79.16666667%;
}
.col-xs-18 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-2 {
    display: block;
    flex: 0 0 8.3333334%;
    max-width: 8.3333334%;
}
.col-xs-4 {
    display: block;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}
.col-20 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
}
container-chat {        
width: 100%;
height: 100%;
position: fixed;
z-index: 999;
}

@media (min-width: 576px){
    .col-sm-3 {
        display: block;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .col-sm-19 {
        display: block;
        flex: 0 0 79.16666667%;
        max-width: 79.16666667%;
    }
    .col-sm-20 {
        display: block;
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%;
    }
    .col-sm-2 {
        display: block;
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%;
    }
    .col-sm-4 {
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
    }
    .col-sm-18 {
        display: block;
        flex: 0 0 75%;
        max-width: 75%;
    }
    container-chat{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;        
    }    
}
@media (min-width: 768px){
    .col-md-6 {
        display: block;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-13 {
        display: block;
        flex: 0 0 54.16666667%;
        max-width: 54.16666667%;
    }
    .col-md-12 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-8 {
        display: block;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    .col-md-10 {
        display: block;
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }
    container-chat {
        width: 20%;
        position: fixed;
        right: 20px;
        bottom: 85px;
        height: 60%;
        z-index: 999;
        display: none;        
    }    
}
@media (min-width: 992px){
    .col-lg-5 {
        display: block;
        flex: 0 0 20.83333333%;
        max-width: 20.83333333%;
    }
    .col-lg-15 {
        display: block;
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }
    .col-lg-14 {
        display: block;
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%;
    }
    .col-lg-7 {
        display: block;
        flex: 0 0 29.16666667%;
        max-width: 29.16666667%;
    }
    .col-lg-12 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }
    container-chat {
        width: 20%;
        position: fixed;
        right: 20px;
        bottom: 85px;
        height: 60%;
        z-index: 999;
        display: none;        
    }    
}
@media (min-width: 1200px){
    .col-xl-4{
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
    }
    .col-xl-17 {
        display: block;
        flex: 0 0 70.83333333%;
        max-width: 70.83333333%;
    }
    .col-xl-16 {
        display: block;
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%;
    }
    .col-xl-14 {
        display: block;
        flex: 0 0 58.3333334%;
        max-width: 58.3333334%;
    }
    .col-xl-6 {
        display: block;
        flex: 0 0 25%;
        max-width: 25%;
    }
    container-chat {
        width: 20%;
        position: fixed;
        right: 20px;
        bottom: 85px;
        height: 60%;
        z-index: 999;
        display: none;        
    }    
}
col-chat {
    position: relative;
    color: white;
}
avatar-icon-chat{
    display: inline-block;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
button-chat{
    background-color: #0066a0;
    cursor: pointer;    
    position: relative;
    font-weight: 400;
    white-space: nowrap;    
    display: inline-block;
}
button-icon-chat{
    background-color: #0066a0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    height: 32px;
    padding: 7px 7px;
    display: inline-block;
    text-align: center;
}
span-chat{
    font-size: 20px;
    color: white;
    line-height: 0;
    text-transform: none;
    vertical-align: -0.125em;
    display: inline-block;
    text-rendering: optimizelegibility;    
}
span-icon-chat{
    font-size: 14px;
    color: white;
    line-height: 0;
    text-transform: none;
    vertical-align: -0.125em;
    display: inline-block;
    text-rendering: optimizelegibility;    
}
.input-chat{
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
    background-image: none;
    line-height: 1.5715;
    background-color: #fff;
    margin: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    font-variant: tabular-nums;
}
.btn-circle {
    min-width: 32px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 50%;
}
button,input{
    overflow: visible;
}
list-chat {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
}
list-item-chat {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;    
    white-space: pre-line;
    margin-left: 10px;
    margin-right: 10px;
}
card-chat{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.5715;
    position: relative;
    padding: 6px;
}
.inverse-row{
    flex-direction: row-reverse;
}
.systemMsg{    
    background-color: #e69f00;
    color: white;
}
.userMsg{    
    background-color: white;
    color: black;
}
.gif{
    width:-webkit-fill-available;
    height: 40px;
}
audio{
    width: -webkit-fill-available;    
}
.visible{
    display: none;
}